node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/.build-check

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea

# Heap snapshots
.heap-snapshots/

# WIP Temp
.fonts

# Resource
resources/samples/Ambient Circuit Samples Project/Samples/
resources/samples/Ambient Circuit Samples Project/Ableton Project Info/
resources/samples/Ambient Circuit Samples Project/Backup/
